GENERAL:
  "calibration_dir": 'calibrations'
  "data_dir": 'data'
  "cache_dir": 'cache'

  "camera_name": 'zed'
  "camera_name": 'polarization_camera'
  "camera_name": 'thermal_camera'

  "use_cache": true
  # "use_cache": false

GEOMETRY:
  "lidar2camera": [[1, 0, 0], [0, 0, -1], [0, 1, 0]]

IMAGE:
  "edge_thickness": 30

OPTIMIZATION:
  "n_iter": 200
  "batch_size": 10
  # "batch_size": 5
  "dt": 0.001 # translation delta (m)
  "da": 0.01 # angle delta (degrees)
  "lr": 0.1 # learning rate
  "final_lr_perc": 0.01

INITIAL_PARAMETERS:
  ZED:
    PARAMS: [0, -0.5, 0, -13, 0, 0]
  POLARIZATION_CAMERA:
    PARAMS: [0, -0.5, 0, -13, 1, 0]
  THERMAL_CAMERA:
    PARAMS: [0, -0.5, 0, -13, 0, 0]
  STEREO_FRONT_LEFT:
    PARAMS: [0, -0.5, 0, -13, 0, 0]
  STEREO_FRONT_RIGHT:
    PARAMS: [0, -0.5, 0, -7, 0, 0]

DISPLAY:
  "image_index": 7
  "show_progress": false
  "show_progress": true
  "display_interval": 15
  "point_size": 1
  "lidar_range": 10
